.title h1{
       color: #9370DB;
       font-size: 48px;
       font-familiy: 'Shift', sans-serif;
       font-weight: bold;
       text-align: center;
}

.title h3{
       color: #9370DB;
       font-size: 20px;
       font-familiy: 'Shift', sans-serif;
       text-align: center;
}

.rps {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
}
